.square {
    flex: 1;
    min-width: 30px;
    min-height: 30px;
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    margin: 1.5px;
    padding: 0;
    text-align: center;
  }
  
.square:focus {
    outline: none;
}

.square.selected {
    background-color: red;
}

.square.winning {
    background-color: yellow;
}

.square.draw {
    background-color: gray;
}